main {
    min-height: 91vh;
    
}





body {
    min-height: 92vh;
    font-family: 'Montserrat', sans-serif; 
    background: #F8F8FF;
}

/* titres h1, h2 font family roboto */


h1, h2 {
    font-family: 'Roboto Slab', serif;
}

th {
    font-family: 'Roboto Slab', serif;
}


/******  navbar  ******/

.nav-color {
    background: lightskyblue;
}

.nav-link { color: #000 !important; }

.nav-link:hover { color: #fff !important; }


/* index.php */
.home {
    background:url(../img/fond_jumbotron.jpg);
    text-align: center;
}

.the_card:hover {
    background: lightskyblue;
    transform: scale(1.1);
    transition-duration: 1s; /* Transition de 1 seconde */ 
}


.the_card {
    width : 50%;
}

/* Body page d'acccueil */
.language { width: 100%; height: 550px; }


/* competences.php  */
.competences {
    background: linear-gradient(rgb(211, 211, 211), rgb(224, 236, 255));
    text-align: center;
}

.html {color: orangered;}

.css {color: skyblue;}

/* loisirs.php */
.loisirs {
    background: url(../img/ohio.jpg);
    min-height: 40vh;
    text-align: center; 
    background-size: cover;
    color: white;
}

.table_loisirs {
   width: 60%;
    text-align: center; 
}


/* formations.php */
.formations {
    text-align: center; 
   background: url(../img/defense.jpg);
   background-size: cover;
   height: 50vh;
   color: whitesmoke;
}

.table_formation {
    text-align: center; 
}

.tr_form {
    background: black;
    color: #fff;
}

/* experiences.php */
.experiences {
    text-align: center;
    background: url(../img/fond.jpg);
    background-size: cover;
}


/* messages.php */
.message {
    background: linear-gradient(lightskyblue, lightgrey);
}

.messages {
    background: linear-gradient(lightsalmon, lightskyblue);
}

.send {
    margin: 0 auto;
}


/******************************************************************* Footer  *******************************************************************/
.footer-front {
    text-align: center;
    background: lightskyblue;
    
}

.social_network { font-size: 3vh; letter-spacing: 10px; }