body {
    min-height: 92vh;
    font-family: 'Montserrat', sans-serif; 
}

/* titres h1, h2 font family roboto */


h1, h2 {
    font-family: 'Roboto Slab', serif;
}

th {
    font-family: 'Roboto Slab', serif;
}


/* index.php */
.home {
    background:url(../img/fond_jumbotron.jpg );
    text-align: center;
}

.the_card:hover {
    /* background: lightskyblue; */
    transform: scale(1.1);
}


.the_card {
    width : 50%;
}

/* Body page d'acccueil */
.language { width: 100%; height: 550px; }

/* competences.php  */
.competences {
    background: linear-gradient(lightskyblue, grey, lightgreen);
    text-align: center;
}

/* loisirs.php */
.loisirs {
    background: url(../img/ohio.jpg);
    text-align: center; 
    background-size: cover;
    color: white;
}

.table_loisirs {
   width: 60%;
    text-align: center; 
}


/* formations.php */
.formations {
    text-align: center; 
   background: url(../img/defense.jpg);
   background-size: cover;
   height: 50vh;
   color: whitesmoke;
}

.table_formation {
    text-align: center; 
}

/* experiences.php */
.experiences {
    text-align: center;
    background: url(../img/fond.jpg);
    background-size: cover;
}


/* messages.php */
.message {
    background: linear-gradient(lightskyblue, lightgrey);
}

.messages {
    background: linear-gradient(lightsalmon, lightskyblue);
}


/******************************************************************* Footer  *******************************************************************/
.footer-front {
    text-align: center;
    
}

.social_network { font-size: 3vh; letter-spacing: 10px; }