/************************************************** Navbar (navigation.inc.php) **************************************************/

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    background: skyblue;
}

body {
    font-family: 'Roboto Slab', serif;
    background: whitesmoke;
}

/************************************************** Jumbotron **************************************************/
.jumbotron {
    background: skyblue;
    text-align: center;
}

/************************************************** index.php **************************************************/

.raccourci {
    text-align: center;    
    font-family: fantasy;
}

.raccourci_link {
    margin-left: 30px;
}

.titre {
    text-align: center;
    font-size: 30px;
    color: tan;   
}

/************************************************** formations.php **************************************************/

.table {
    text-align: center;
}

.form_formation {
    text-align: center; 
}
    

/************************************************** loisirs.php **************************************************/

.loisir { color: purple; text-align: center; }

.table_loisir {
    text-align: center;
    width: 100%;
    font-family: 'Lora', serif;
}

/************************************************** navigation.inc.php **************************************************/

.id_logout {
    color: white;
}

/************************************************** experiences.php **************************************************/

.table_exp {
    background: lightgrey; 
}

/************************************************** Footer (footer.inc.php) **************************************************/
footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.linkedin {
    font-size: 30px;
}

.github {
    color: purple;
    font-size: 30px;
}

