/************************************************** Navbar (navigation.inc.php) **************************************************/

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a:hover {
    /* background: skyblue; */
}

body {
    font-family: 'Roboto Slab', serif;
    background: whitesmoke;
    
}

/************************************************** Jumbotron **************************************************/
.jumbotron {
    /* background: linear-gradient(skyblue, lightgrey ); */
    text-align: center;
    background: url(../img/sunset.jpg);
    color: white;
}

/************************************************** index.php **************************************************/

.raccourci {
    text-align: center;    
    font-family: fantasy;
}

.titre {
    text-align: center;
    font-size: 30px;
    color: tan;   
}

/************************************************** formations.php **************************************************/

.table {
    text-align: center;
}

.form_formation {
    text-align: center; 
}
    

/************************************************** loisirs.php **************************************************/

.loisir { color: purple; text-align: center; }

.table_loisir {
    text-align: center;
    width: 100%;
    font-family: 'Lora', serif;
}

/************************************************** navigation.inc.php **************************************************/

.id_logout {
    color: white;
}

/************************************************** experiences.php **************************************************/

.table_exp {
    background: lightgrey; 
}

.form_experience {
    background: lightcyan;
    text-align: center; 
}

.btn-experiences {
    width: 50%;
}

/************************************************** Footer (footer.inc.php) **************************************************/
.footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.linkedin {
    font-size: 30px;
}

.github {
    color: purple;
    font-size: 30px;
}

.reseaux {
    letter-spacing: 5px;
}

