body {
    font-family: 'Roboto Slab', serif;
    background: whitesmoke;
}

/****** Jumbotron ******/
.jumbotron {
    background: lightsteelblue;
    text-align: center;
}

/************************************************** index.php **************************************************/

.raccourci {
    text-align: center;    
}

.raccourci_link {
    margin-left: 30px;
    
}

/************************************************** formations.php **************************************************/


.table {
    text-align: center;
}

.form_formation {
    text-align: center; 
    width: 50%;
    border-radius: 50px;
}
    

/************************************************** loisirs.php **************************************************/

.loisir { color: red; text-align: center; }

.table_loisir {
    text-align: center;
    width: 100%;
    font-family: 'Lora', serif;
}

/************************************************** formations.php **************************************************/

.container-fluid {
    text-align: center; 
}

/************************************************** experiences.php **************************************************/

.table_exp {
    background: lightgrey;
     
}

/************************************************** Footer le pied de page **************************************************/
footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.linkedin {
    font-size: 30px;
}

